@use '../globalStyles/abstract/variables' as *;

.hotelView {
  background-color: #fff;
  flex: 1;
}

.cta {
  text-align: center;
  padding: 3.5rem 0;

  @media only screen and (max-width: $bpMedium) {
    padding: 2.5rem 0;
  }

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }

  button {
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: inherit;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    position: relative;
    overflow: hidden;

    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.2s;
    }

    .visible {
      padding: 2rem 7.5rem;
    }

    .invisible {
      padding: 2rem 0;
      position: absolute;
      left: 0;
      top: -100%;
    }

    &:hover {
      background-image: linear-gradient(
        to left,
        var(--color-primary-light),
        var(--color-primary-dark)
      );

      animation: pulsate 1s infinite;

      .visible {
        transform: translateY(100%);
      }

      .invisible {
        top: 0;
      }
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}